<html>
	<head>
        <!-- Links to external CSS and JS -->
        <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="icon" href="https://png.pngtree.com/svg/20170629/location_559173.png">

        <!-- Block for page-specific CSS and JS -->
        {% block scripts %}{% endblock %}

        {% if title %}
            <title>{{ title }} - Batch Geocoding</title>
        {% else %}
            <title>Batch Geocoding</title>
        {% endif %}
	</head>
	<body>
        <div class="jumbotron text-center" id="header">
        {% if title %}
            <h1>Batch Geocode: {{ title }}</h1>
        {% else %}
            <h1>Batch Geocode</h1>
        {% endif %}
        <script> document.getElementById("header").style.background = "#26a146"</script>
        <script> document.getElementById("header").style.color = "white"</script>
        </div>

        <div class="text-center" style="border-bottom-style:solid;font-size: 20px;">
            <a href='/index'>Geocode Data</a>&nbsp;
            <a href='/vet'>Vet Results</a>
        </div>
        <div style="margin-left:30px;">
    		{% with messages = get_flashed_messages() %}
            	{% if messages %}
            	<ul>
    	   	       	{% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        	{% endwith %}
            <!-- Block for all other page content -->
    		{% block content %}{% endblock %}
        </div>
	</body>
</html>