
{% extends "base.html" %}

{% block content %}
	<h1>Batch Geocode</h1>
	<form action="{{url_for('index') }}" method="post" novalidate>
		{{ form.hidden_tag() }}
		<h3>Required Fields:</h3>
		<p>
			{{ form.infile.label }} <br>
			{{ form.infile(size=32) }} <br>
			{% for error in form.infile.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.outfile.label }} <br>
			{{ form.outfile(size=32) }} <br>
			{% for error in form.outfile.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.address.label }} <br>
			{{ form.address(size=32) }} <br>
			{% for error in form.address.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.iso.label }} <br>
			{{ form.iso(size=32) }} <br>
			{% for error in form.iso.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.key.label }} <br>
			{{ form.key(size=32) }} <br>
			{% for error in form.key.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.geonames.label }} <br>
			{{ form.geonames(size=32) }} <br>
			{% for error in form.geonames.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<h3>Optional Fields:</h3>
		<p>{{ form.usetools.label }}<br> {{ form.usetools(size=32) }}</p>
		<p>{{ form.encoding.label }}<br> {{ form.encoding(size=32) }}</p>
		<p>{{ form.resultsper.label }}<br> {{ form.resultsper(size=32) }}</p>
		<p>{{ form.buffer.label }}<br> {{ form.buffer(size=32) }}</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}